<div class="row">
  <div class="col-lg-8 mx-auto">
    <div class="card">
      <div class="card-header bg-primary text-white">
        <h4 class="mb-0">
          <i class="bi bi-pencil"></i> Edit Time-Off Request
        </h4>
      </div>
      <div class="card-body">
        <%= form_with model: @time_off_request, local: true do |f| %>
          <% if @time_off_request.errors.any? %>
            <div class="alert alert-danger">
              <h5 class="alert-heading">
                <i class="bi bi-exclamation-triangle"></i>
                <%= pluralize(@time_off_request.errors.count, "error") %> prohibited this request from being saved:
              </h5>
              <ul class="mb-0">
                <% @time_off_request.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
              </ul>
            </div>
          <% end %>

          <div class="mb-3">
            <%= f.label :time_off_type, "Leave Type", class: "form-label" %>
            <%= f.select :time_off_type,
                  @time_off_types.map { |k| [k.humanize, k] },
                  { prompt: "Select leave type" },
                  { class: "form-select", required: true } %>
          </div>

          <div class="row">
            <div class="col-md-6 mb-3">
              <%= f.label :start_date, class: "form-label" %>
              <%= f.date_field :start_date,
                    class: "form-control",
                    min: Date.current,
                    required: true %>
            </div>

            <div class="col-md-6 mb-3">
              <%= f.label :end_date, class: "form-label" %>
              <%= f.date_field :end_date,
                    class: "form-control",
                    min: Date.current,
                    required: true %>
            </div>
          </div>

          <div class="mb-3">
            <%= f.label :reason, class: "form-label" %>
            <%= f.text_area :reason,
                  class: "form-control",
                  rows: 4 %>
          </div>

          <div class="d-flex justify-content-between">
            <%= link_to "Cancel", @time_off_request, class: "btn btn-outline-secondary" %>
            <%= f.submit "Update Request", class: "btn btn-primary" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>